@using GoFly_web.TelegramBot;

 <h1>переход</h1>

@Html.ActionLink("К странам отправления","GoToDepCountries")
 <h1>......</h1>
@Html.ActionLink("К городам отправления","GoToDepCities")
 <h1>......</h1>
@Html.ActionLink("К странам прибытия","GoToArrCountries")
 <h1>......</h1>
@Html.ActionLink("К городам прибытия","GoToArrCities")
<h1>......</h1>
@Html.ActionLink("К отелям","GoToHotels")
<h1>......</h1>
@Html.ActionLink("Сообщение!","BotStart")